.my-hover{
    color: #006400 !important;
    text-align: center;
    border: 1px solid blanchedalmond;
    border-radius: 2px;
}
.my-hover:hover{
    color: white !important;
    background-color: #006400;
}